:root {
    --white: #ba1ae2;
    --purple: hsla(308, 35%, 74%, 0.89);
    --secondary: #cddfe0;
    --black: #693963;
    
}

/* HEADER */

    .header {
        z-index: 2;
    }

    .nav-link {
        transition: all 1s;
    }

    .nav-link:hover {
        color: var(--purple);
        transition: all .30s;
        background-color: var(--secondary);
        height: 80%;
        border-radius: 4px;
    }

/* HERO */
    .hero-info {
        animation: slide-down 2s 1;
    }
    
    @keyframes slide-down {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }

    .hero-btn {
        transition: all 1s;
    }


    .hero-btn:hover {
        background-color: var(--secondary);
        color: var(--purple);
        cursor: pointer;
        transition: all .30s;
    }

    .hero img {
        animation: img-hero 1s 1;
    }

    @keyframes img-hero {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX();
        }
    }


/* MAIN */

    .about-us-tag {
        animation: slide-up-tag-back 1s 1;
    }

    @keyframes slide-up-tag-back {
        from {
            transform: translateY(-5%);
        }

        to {
            transform: translateY(0);
        }
    }

    .about-us-tag:hover {
        animation: slide-up-tag .5s 1 forwards;
    }

    @keyframes slide-up-tag {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-5%);
        }
    }
    

    .categories-tag {
        animation: slide-up 2s 1;
    }

    @keyframes slide-up {
        from {
            transform: translateX(100%);
        }

        to{
            transform: translateX(0);
        }
    }

    .btn-buy {
        transition: all 0.5s;
    }

    .btn-buy:hover {
        background-color: var(--secondary);
        color: var(--purple);
        cursor: pointer;
        transition: all .7s;
    }

    .btn-send-t-s {
        transition: all 0.5s;
    }

    .btn-send-t-s:hover {
        background-color: var(--secondary);
        color: var(--purple);
        cursor: pointer;
        transition: all .7s;
    }

/* FOOTER */

    .submit-notify {
        transition: all 0.5s;
    }

    .submit-notify:hover{
        background-color: var(--secondary);
        color: var(--black);
        font-weight: 600;
        border: 2px solid var(--purple);
        cursor: pointer;
        transition: all .7s;
    }

    .link-social {
        transition: all 0.5s;
    }

    .link-social:hover {
        color: var(--black);
        cursor: pointer;
        transition: all .7s;
    }
    
    .footer-links {
        transition: all 0.5s;
    }

    .footer-links ul :hover {
        color: var(--black);
        cursor: pointer;
        transition: all .7s;
    }